.game {
  background: url("img/spillbakgrunn.png") no-repeat;
  background-size: 100% 96vh;
  width:100%;
  height:97vh;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto; 
  /* border: solid black; */
  position: relative;

  /* z-index: 0; */

  filter: blur(2px);
}

.button {
  position: absolute;
  height: 7vh;
  top: 10px;
  left: 10px;

  z-index: 2;
}

.info {
  position: absolute;
  top: 10px;
  right: 20px;

  z-index: 2;
}
#score, #timer {
font-size: 3vh;
}

#gameOverDiv {
  /* border: solid blue 5px; */
  position: absolute;
  overflow: visible;
  height: fit-content;
  width: fit-content;
  top: 10vh;
  left: 50vh;
  opacity: 95%;

  z-index: 5;

  /* border: chartreuse solid 5px; */
}

#gameOverText {
  /* border: blue solid 5px; */
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

#gameOverScore {
  /* border: blue solid 5px; */
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
  
  font-size: 25px;
}

#button2 {
  position: absolute;
  top: 72%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

.buttonPlayAgain {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1d9e89;
  border: solid #188a77 4px;
  border-radius: 15px;
}
.buttonPlayAgain:hover {background-color: #3e8e41}

.buttonPlayAgain:active {
  background-color: #188a77;
  transform: translateY(2px);
}

/* #hospital, #scooter {
filter: blur(8px);
-webkit-filter: blur(8px);
} */

.place {
  flex: 1 0 20.00%;
  overflow: hidden;
  position: relative;
  /* border: solid black; */

}

/* .place9, .place13, .place14, .place15, .place16, .place17, .place18, .place19, .place20 {
  border: solid blue 5px;
  z-index: 10;
} */

.place:after {
  display: block;
  background-size:contain;
  content:'';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom:-30px;
}

.corona {
  background:url("img/coronagif2.gif") bottom center no-repeat;
  background-size:60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;

  /* border: solid 5px red; */

  /*transition: all 0.4s;*/
}

.corona2 {
  background:url("img/coronagif2.gif") bottom center no-repeat;
  background-size:60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;

  z-index: 3;

  /* border: solid 5px blue; */

  /*transition: all 0.4s;*/
}

.place.up .corona, .place.up .corona2 {
  top:0;
}

#buildings {
  border: solid 3px transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 96vh;

  /* z-index: 1; */

  pointer-events: none;
}

#hospital {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 60vh;
  top: 12vh;
  left: 65vh;

  z-index: 1;
}

#scooter {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 18vh;
  top: 60vh;
  left: 70vh;

  /* z-index: 1; */
}

#pizza {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 40vh;
  top: 29vh;
  left: 8.5vh;

  z-index: 2;
}

#restaurant {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 23vh;
  top: 42vh;
  left: 8vh;

  z-index: 1;
  
}

#barbershop {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 23vh;
  top: 42vh;
  left: 50vh;

  z-index: 1;
}

#bakehouse {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 32vh;
  top: 33.5vh;
  left: 126vh;

  z-index: 1;
}

#grass {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 25vh;
  top: 39.3vh;
}

#tree1 {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 15vh;
  top: 45vh;
  left: 157vh;
}

#tree2 {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 15vh;
  top: 40vh;
  left: 180vh;

  z-index: 1;
}

#icecream {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 15vh;
  top: 52vh;
  left: 165vh;

  z-index: 1;
}

#helicopter {
  position: absolute;
  overflow: visible;
  width: auto;
  height: 30vh;
  left: 140vh;

  z-index: 2;

  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 10s forwards;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation: slide 5s steps(100) infinite alternate;
}

@keyframes slide {
  from{top: 1vh;}
  to{top: 5vh;}
  
}

#bus {
  position: absolute;
  overflow: hidden;
  width: auto;
  height: 15vh;
  top: 65vh;

  /* -webkit-animation: slide2 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide2 10s forwards;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes slide2 {
  from{left: 100%;}
  to{left: 0;} */
}

